<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="img/logo.ico">
    <title>App DesaInt</title>
</head>
<body>

<main>
    <div class="d-flex flex-column align-items-center px-4 py-5 my-5 text-center">

        <h1>Modificar empresa</h1>
        <form class="d-flex flex-column gap-3 align-items-center" th:action="@{/empresa/actualizarDatosEmpresa}" th:method="patch" th:object="${eEmpresa}">
            <input th:field="*{nombre}" class="form-control" type="text" placeholder="Nombre" autocomplete="off" required/>
            <input th:field="*{nit}" class="form-control" type="number" placeholder="487298" autocomplete="off" required/>
            <input th:field="*{direccion}" class="form-control" type="text" placeholder="Cra 8 #70-62" autocomplete="off" required/>
            <input th:field="*{telefono}" class="form-control" type="number" placeholder="2872837" autocomplete="off" required/>
            <input th:field="*{id}" type="hidden">
            <button class="btn btn-primary" type="submit">Editar</button>
        </form>

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>