<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<main>
<body style="text-align: center">

        <h1>Error :(</h1>
        <h2>El equipo Desarroladores integrales pide disculpas</h2>
        <h2>puede que esta pagina no exista, que haya sido un error interno o que hayas sido redirigido aquí</h2>
        <h2>En caso de haber sido redigirido: Trata de llenar los campos correctamente o volver mas tarde</h2>

        <button onclick="location.href='/listarEmpresas'">Volver a la pagina principal</button>


</body>
</main>
</html>