.estilo-boton-uno{

    background-color: blue;
}

#tablaMovDinero{

    margin-left: 60px;margin-right: 60px;
}

#tablaEmpleados{

    margin-left: 60px;margin-right: 60px;
}

#tablaEmpresas{

    margin-left: 60px;margin-right: 60px;
}